<!--calendar-->
<style>
    .btn-event-action {
        margin-right: 10px;
    }
</style>

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: 1px solid #ddd;
    }

    .dropdown-content a {
        color:#3d3d3d;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-content a:hover {
        background-color: #5c0055;
        color: #fff;
    }

    .show {
        display: block;
    }
</style>

<div class="container">

    <div class="alert alert-success" id="msgSuccess" role="alert">
        <strong>{{msg.successTitle}}</strong> {{msg.success}}
    </div>
    <div class="alert alert-danger" id="msgError" role="alert">
        <strong>{{msg.errorTitle}}</strong> {{msg.error}}
    </div>
</div>

<br>

<div class="container">

    <div id="calendar" class="fc fc-unthemed fc-ltr">
        <div class="fc-toolbar fc-header-toolbar">
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div style="padding: 20px;padding-top: 25px; padding-bottom: 25px; background-color: #f5f5f5;">
                            <label class="control-label" for="textinput">JIRA Number <SPAN
                                    style="color:#fff; font-weight: bold; padding:4px; background-color: red; font-size:11px">(NEW)</SPAN>:</label>
                            <!--<input class="form-control" id="jiranumber" type="text" name="jiranumber"
                                placeholder="search e.g: 302...">-->

                            <input type="text" class="form-control" id="jiranumber" onkeyup="searchJiras()">
                           
                            <div id="div_searchResults" class="dropdown-content">
  
                            </div>

                            <br>

                           <!-- <input auto-complete ui-items="names" class="form-control" name="jiranumber" id="jiranumber"
                                ng-model="selected">
                            selected = {{selected}} -->
                            <span style="font-size: 8pt; font-style: italic;">This will replace content in the
                                description field</span>
                        </div>

                    </div>

                </div>
                <br><br>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label" for="textinput">Description:</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="text" id="title" name="txtDescription">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label" for="textinput">Work Type:</label>
                    </div>
                    <div class="col-8">
                        <select id="worktype" class="form-control"></select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label" for="textinput">Category:</label>
                    </div>
                    <div class="col-8">
                        <select id="category" class="form-control"></select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label" for="textinput">Project Name:</label>
                    </div>
                    <div class="col-8">
                        <select id="projectname" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteEvent()"
                    id="btn-remove-entry">Delete</button>
                <button type="button" class="btn btn-primary" ng-click="actionEvent()" id="btn-save-entry">Save
                    changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<style>
    .btn-copymove {
        background: #5c0055;
        color: white;
    }
</style>
<div class="modal fade" id="modal_copymove">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">CopyMove Event</h4>
                <button type="button" class="close CopyMove-close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <p>Please specify wheather you would like to Move or Copy the event to this location:</p>
                    <br>
                    <div style="text-align:center">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="button" id="btn-copy" class="btn btn-lg btn-copymove" value="Copy">
                            </div>
                            <div class="col-md-6">
                                <input type="button" id="btn-move" class="btn btn-lg btn-copymove" value="Move">
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>

<div class="modal fade" id="modal_link_jira">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">CopyMove Event</h4>
                <button type="button" class="close CopyMove-close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <p>Please specify wheather you would like to Move or Copy the event to this location:</p>
                    <br>
                    <div style="text-align:center">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="button" id="btn-copy" class="btn btn-lg btn-copymove" value="Copy">
                            </div>
                            <div class="col-md-6">
                                <input type="button" id="btn-move" class="btn btn-lg btn-copymove" value="Move">
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>

<script>

    function onJiraClick(jiranumber,description){

        //populate jira field
        document.getElementById("jiranumber").value = "MCAP-" + jiranumber
        document.getElementById("title").value = description

    }

    function searchJiras() {

        var txt_val = document.getElementById("jiranumber").value
        var val_length = document.getElementById("jiranumber").value.length
        var show_search = false

        if (val_length > 3) {
           
            show_search = true;

            var str_links = "";
            
            $.get("/jira/search/" + txt_val, function (data, status) {

                for(var i = 0; i < data.length; i++){
                   str_links += "<a href='#' onclick='onJiraClick("  + data[i].jiranumber + ",\"" + data[i].description + "\")'><b>MCAP-" + data[i].jiranumber + "</b> " + data[i].description + "</a>"
                }

                document.getElementById("div_searchResults").innerHTML = str_links
               
            })

            
        } else {
            console.log("no search");
            show_search = false;
        }

        if (show_search) {

            if (!document.getElementById("div_searchResults").classList.contains("show")) {
                document.getElementById("div_searchResults").classList.add("show");
                document.getElementById("div_searchResults").classList.remove("hide");
            }

        } else {
            if (!document.getElementById("div_searchResults").classList.contains("hide")) {
                document.getElementById("div_searchResults").classList.add("hide");
                document.getElementById("div_searchResults").classList.remove("show");
            }

        }
    }
    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>