<!--calendar-->
<style>
    .btn-event-action {
        margin-right: 10px;
    }
</style>
<div class="container">

    <div class="alert alert-success" id="msgSuccess" role="alert">
        <strong>{{msg.successTitle}}</strong> {{msg.success}}
    </div>
    <div class="alert alert-danger" id="msgError" role="alert">
        <strong>{{msg.errorTitle}}</strong> {{msg.error}}
    </div>
</div>

<br>

<div class="container">

    <div id="calendar" class="fc fc-unthemed fc-ltr">
        <div class="fc-toolbar fc-header-toolbar">
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <div class="row">
                    <div class="col-4">
                        <label class="control-label" for="textinput">Description:</label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="text" id="title" name="txtDescription">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label" for="textinput">Work Type:</label>
                    </div>
                    <div class="col-8">
                        <select id="worktype" class="form-control"></select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label" for="textinput">Category:</label>
                    </div>
                    <div class="col-8">
                        <select id="category" class="form-control"></select>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-4">
                        <label class="control-label" for="textinput">Project Name:</label>
                    </div>
                    <div class="col-8">
                        <select id="projectname" class="form-control"></select>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="deleteEvent()" id="btn-remove-entry">Delete</button>
                <button type="button" class="btn btn-primary" ng-click="actionEvent()" id="btn-save-entry">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<!-- The Modal -->
<style>
    .btn-copymove {
        background: #5c0055;
        color: white;
    }
</style>
<div class="modal fade" id="modal_copymove">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">CopyMove Event</h4>
                <button type="button" class="close CopyMove-close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div>
                    <p>Please specify wheather you would like to Move or Copy the event to this location:</p>
                    <br>
                    <div style="text-align:center">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="button" id="btn-copy" class="btn btn-lg btn-copymove" value="Copy">
                            </div>
                            <div class="col-md-6">
                                <input type="button" id="btn-move" class="btn btn-lg btn-copymove" value="Move">
                            </div>
                        </div>
                    </div>

                </div>
            </div>



        </div>
    </div>
</div>