.report-user-div {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.btn-purple {
    background: #5c0055;
    color: #fff;
    width: 100px;
}

.report-div {
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.date-select {
    padding: 10px;
    background: #ccc;

}

.login-div {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.login-div h1 {
    color: #5c0055;
}

.btn-login {
    background: #5c0055;
    color: #fff;
    width: 100px;
}

.btn-purple {
    background: #5c0055;
    color: #fff;
    width: 100px;
}

@media all and (max-width: 412px) {
    .login-div {
        width: 100%;
        margin: 0;
    }

    .btn-purple {
        width: 100%;
    }
}