<style>
    .login-names-a {
  background: #5c0055;
  color:#fff;
}

.login-names-ul > li {
	list-style:none;
	float: left;
	margin: 10px;
	padding:10px;
	

}

.login-names-ul > li:hover {

color:#5c0055;
background:#fff;

}
</style>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Irdeto Timehseets (1.5)  <span style="color:red; font-size: 12pt"></span></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
            </ul>

        </div>
    </nav>

</div>

<div ui-view></div>



<div class="login-div" ng-if="!enableCalandar">
    <div>
        <br>
        <h4>Please select your name:</h4>
        <br>
        <form>
            <div class="row">
                <div class="col-md-12">

                    <!--<ul class="login-names-ul">-->
                    <!--      <li class="login-names-a" ng-repeat="x in db.users">{{x.username}}</li>
            </ul>

</div> -->

                    <select ng-model="obj.username" ng-options="x.username for x in db.users" id="selectCategory" name="selectmultiple"
                        class="form-control" style="width:100%">
                    </select>

                </div>
            </div>
            <hr>

            <div class="row">
                <div class="col-md-12">
                    <input type="button" ng-disabled="obj.username.length == 0" ng-click="displayCal()" class="btn btn-login"
                        value="Proceeed">
                </div>
            </div>
        </form>
    </div>

</div>

<div class="sidenav sidenav-menu" ng-if="enableCalandar">

    <a href="" class="side-nav-header" ng-click="">
        {{obj.username.username|getInitials}}
    </a>
    <hr>

    <a class="btn btn-side-nav" ng-class="{'sidenav-active':activeLink == 1}" ui-sref="home.calendar({username:obj.username.username})"
        ng-click="activeLink = 1">
        <i class="fas fa-calendar-alt" style="margin-right:10px"></i>Calendar
    </a>

    <a class="btn btn-side-nav" ng-class="{'sidenav-active':activeLink == 2}" ui-sref="home.reports({username:obj.username.username})"
        ng-click="activeLink = 2">
        <i class="fas fa-file-invoice" style="margin-right:10px"></i>Report
    </a>
    <hr>
    <a href="#" class="btn btn-side-nav" ng-class="{'sidenav-active':activeLink == 3}" ui-sref="home.settings({username:obj.username.username})"
        ng-click="activeLink = 3">
        <i class="fas fa-cog" style="margin-right:10px"></i>Settings
    </a>

    <a href="#" class="btn btn-side-nav activeLink" ng-click="logout()">
        <i class="fas fa-sign-out-alt" style="margin-right:10px"></i>Logout
    </a>



</div>